<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forms</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="regestration">
        <h1>Register</h1>
        <form method="POST">
        <label>Acount: </label>
        <input type="text", name="username" required>
        <label>Password: </label>
        <input type="password" name="password" required>
        <button type = "submit">Register</button>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
    </form>
    </div>
</body>
</html>
